body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
    margin: 10px;
}

ul {
    border: solid cadetblue thin;
    border-radius: 10px;
}

legend {
    border-color: cadetblue;
}

.row {
    clear:both;
}